@import "custom";

.App {
  text-align: center;
  color: $light;
  height: 100vh;
  width: 100vw;
}

.btn-main {
  outline: none !important;
}

.btn-main:hover {
  background-color: #9bcc0f !important;
}

.btn-main:disabled {
  background-color: #4d4f48 !important;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dashed $info !important;
}

.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card {
  border: 1px solid $info !important;
}
